<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>Work Tracker</title>
</head>

<body>
    <h1 class="bigH1"></h1>

    <div id="monthBackground">
        <table id="table">
            
            <tbody>
                <% console.log(populateArray) %>
                    <% for(let day of populateArray){ %>
                        <tr>
                            <td <% if(day === populateArray[0]) {%> 
                                class="first"
                                <% } %> >
                                <%= day[0] %>
                            </td>
                            <td class="middle <% if(day === populateArray[0]) {%>first
                                <% } %>">
                                <%= Math.round(day[1] * 10) / 10 %> Hours
                            </td>
                            <td class="right <% if(day === populateArray[0]) {%>first
                                <% } %>">
                                $<%= Math.round(day[1] * 50 * 100) / 100  %>
                            </td>
                        </tr>
                        <% } %>
            </tbody>
            <thead>
                <tr>
                    <th>Day</th>
                    <th class="middle">Hours</th>
                    <th class="right">Earnings</th>
                </tr>

            </thead>
        </table>
    </div>

    <h2>$<% let sum = 0; %><% for(let day of populateArray){ %><% sum+=day[1] %><% } %><%= Math.round(sum * 50 * 100) / 100%> Earned</h2>
    <script>
        document.querySelector('h1').innerHTML = new URLSearchParams(window.location.search).get('month');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>